# Github PAC
export OPS_BOT_TOKEN="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

# Env. vars. for terraform:
#   * AWS credentials for accessing the S3 bucket where terraform state is stored.
#     Currently, the S3 bucket is defined [here](https://github.com/ministryofjustice/cloud-platform-environments/blob/main/namespaces/live.cloud-platform.service.justice.gov.uk/operations-engineering/resources/s3.tf)
#   * Github token as a terraform variable
export AWS_REGION="eu-west-2"
export AWS_ACCESS_KEY_ID="xxxxxxxxxxxxxxxxxxxx"
export AWS_SECRET_ACCESS_KEY="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
export S3_BUCKET_NAME="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
export TF_VAR_github_token=${OPS_BOT_TOKEN}
export TERRAFORM=/usr/local/bin/terraform0.13.5
