# Github PAC with admin:org scope, required to view `permissionSources`
export ADMIN_GITHUB_TOKEN="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

# Required to POST data to the OpsEng Reports web app
export OPERATIONS_ENGINEERING_REPORTS_API_KEY="xxxxxxxxxxxxxxxxxxxx"

# Endpoint for POSTing JSON data
export OPS_ENG_REPORTS_URL="https://operations-engineering-reports.cloud-platform.service.justice.gov.uk/github_collaborators"
