name: Check the approving GH MoJ user has a MoJ email domain

on:
  pull_request:
    paths: "terraform/**"

jobs:
  check-user-email-domain:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Do check
        run: python3 scripts/check-user-email-domain.py ${{ github.event.pull_request.base.sha }} ${{ github.event.pull_request.head.sha }}
