name: Terraform plan

on:
  workflow_dispatch:
  pull_request:
    types: [opened, edited, reopened, synchronize, ready_for_review]
    paths: "terraform/**"

env:
  TERRAFORM: terraform
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  TF_VAR_github_token: ${{ secrets.OPS_BOT_TOKEN }}
  GITHUB_APP_ID: ${{ secrets.APP_ID }}
  GITHUB_APP_INSTALLATION_ID: ${{ secrets.APP_INSTALLATION_ID }}
  GITHUB_APP_PEM_FILE: ${{ secrets.APP_PEM_FILE }}
  TF_IN_AUTOMATION: true

jobs:
  terraform-plan:
    if: ${{ !github.event.pull_request.draft }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v2
        id: changes
        with:
          filters: |
            src:
              - 'terraform/**'

      - if: steps.changes.outputs.src == 'true'
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.3.4

      - if: steps.changes.outputs.src == 'true'
        name: terraform plan
        run: |
          cd terraform
          terraform init
          terraform plan -lock-timeout=660s
      - name: Report failure to Slack
        if: always()
        uses: ravsamhq/notify-slack-action@v2
        with:
          status: ${{ job.status }}
          notify_when: "failure"
          notification_title: "Failed GitHub Action Run"
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
